doctype html
html(lang="en")
  head
    <!-- Required meta tags -->
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    <!-- Bootstrap CSS -->
    link( href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous")

    title Hello, world!
  body
    br
    br
    div( class="container")
        div( class="row justify-content-center align-items-center")
            form(method='POST' action='/login' style="max-width: 500px;" )
                div( class="form-outline mb-4")
                    input(name='username' type="text" id="form2Example1" formControlName="username"  class="form-control" autofocus)
                    label( class="form-label" for="form2Example1") Login

                div( class="form-outline mb-4")
                    input( name="password" type="password"  formControlName="password"  id="form2Example2" class="form-control")
                    label( class="form-label" for="form2Example2") Password

                button( type="submit" class="btn btn-primary btn-block mb-4") Sign in
