
block navbar
    nav(class="navbar navbar-expand navbar-dark bg-dark")
        a( class="navbar-brand" href="/main") Главная
        button( class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation")
            span( class="navbar-toggler-icon")

        div( class="collapse navbar-collapse" id="navbarsExample02")
            ul(class="navbar-nav mr-auto")
                li(class="nav-item active")
                a(class="nav-link" href="/grafana") Grafana
                li(class="nav-item active")
                a(class="nav-link" href="/change") Изменить секреты 
                li(class="nav-item active")
                a(class="nav-link" href="/logout") Выход  
